<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<!-- <select id="selectAll" parameterType="string" resultType="com.postoffice.web.dto.MailDTO">
		select m.mail_id , m.from_name , m.from_address,m.to_name,m.to_address
		,m.mail_weight,s.state_name,m.package_num,m.mail_date 
        from mail m, state s
        where 
        	s.state_id = m.state_id 
        AND s.state_id=#{state_id}
	</select> -->
	
	<update id="updateStateProc" parameterType="com.postoffice.web.dto.MailDTO">
		update mail set
			state_id  = #{state_id}
		where
			mail_id = #{mail_id}
	</update>
	
	<select id="selectAll" parameterType="string" resultType="com.postoffice.web.dto.MailDTO">
		select 
			a.mail_id,
			a.from_name,
			a.from_address,
			a.to_name,
			a.to_address,
			a.mail_weight,
			a.state_id,
			b.state_name as state_name,
			a.package_num,
			a.mail_date,
			a.vid,
			c.vname as village_name
		from
			mail a
		Left outer join state b on b.state_id = a.state_id
		Left outer join village c on c.vid = a.vid
		<!-- where
			a.vid like '%#{vid}%' -->
		
	</select>
	

	
</mapper>