@charset "UTF-8";

.lid{
	margin: 10px 0px;
	line-height: 50px;
}

.lid input{
	width: 100%
}

.lpassword{
	margin: 10px 0px;
	line-height: 50px;
}

.lpassword input{
	width: 100%;
}

.lbutton{
	line-height: 50px;
	margin: 10px 0px;
}

.lbutton input{
	width: 100%;
	background-color: #F32C28;
	border-style: hidden;
	color: white;
	font-size: 25px;
}

.jbutton{
	line-height: 50px;
	background-color: #F32C28;
	text-align: center;
}

.jbutton a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-weight: 100;
}

